# drivers/sharp/btpm/Kconfig

menu "BT Configuration"

config BTPM
	bool "BT Power Management Support"
	default y
	help
	  Power management implementation for BT Functionality.

config SERIAL_BLUETOOTH
	bool "Bluetooth Management Support"
	default y
	help
	  Serial management implementation for BT Functionality.

endmenu
